<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<style>
    ul {
        list-style: none;
    }
    h1, p {
        display: inline;
    }
</style>
<body>
    <div id="app" >
        <ul>
            <li v-for="(cor, i) in cores">  {{ i + 1 }}) {{ cor }} </li>
        </ul>
        <hr>
        <template v-for="(cor, i) in cores">
            <h1> {{ cor }}</h1>
            <p> {{ i }}</p>
        </template>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
               cores: ['vermelho', 'verde', 'amarelo', 'azul'],
               pessoas:[
                   {nome: 'Bianca', idade: 20, peso: 50},
                   {nome: 'Caio', idade: 22, peso: 60}
               ]
            }
        })
    </script>
    
</body>
</html>